<footer>
    <!--site footer, same site wide-->
    <section id="footer_section">
        <div id="footer_div">
            <div class="footer_element" id="copyright_footer">
                <h3>&copy; Charlotte Cubers Club, 2021</h3>
            </div>
            <div class="footer_element" id="contact_us_link">
                <a href="index.html">
                    <h3>CONTACT US</h3>
                </a>
            </div>
            <div class="footer_element" id="cubicle_shop_link">
                <a href="https://www.thecubicle.com/">
                    <h3>SHOP FOR CUBES</h3>
                </a>
            </div>
        </div>
    </section>
</footer>
</body>


</html>