<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <!--Header section of site-->
    <header>
        <section id="site_headliner">
            <div class="header_div">
                <div class="header_element">
                    <a href="index.html"><img src="../images/cubeimg.png" alt="brand img" id="brandImg"></a>
                </div>
                <div class="header_element" id="page_header_text_div">
                    <h1 id="page_header_text">CHARLOTTE CUBING CLUB</h1>
                </div>
                <div class="header_element" id="login_register_links">
                    <a href="/connections/new" class="user_link" id="start_new_connection_link">Start New Connection          |          </a>
                    <a href="index.html" class="user_link" id="register_link">Register          |          </a>
                    <a href="index.html" class="user_link" id="login_link">Login</a>
                </div>
            </div>
            <br>
            <!--blue line under header-->
            <div id="line_under_header1"></div>
            <br>
        </section>
        <!--navigation bar-->
        <section id="site_nav_bar_section">
            <div id="nav_div">
                <nav id="nav_bar">
                    <div class="center_div_1">
                        <a id="connections_page_nav_link" href="/connections">Connections</a>
                    </div>
                </nav>
            </div>
        </section>
    </header>