html {
    background-color: #282828;
    color: white;
}

#brandImg {
    width: 150px;
    height: 150px;
    margin: auto;
}

.header_div {
    height: 150px;
    padding: 35px 15px 5px;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    background-color: #0C0032;
}

#site_headliner {
    background-color: #0C0032;
}

#line_under_header {
    border-bottom: 1px solid #3500D3;
    margin: auto;
    width: 1200px;
    padding-top: 10px;
}

#line_under_header1 {
    border-bottom: 1px solid #3500D3;
    margin: auto;
    width: 1200px;
}

#page_header_text {
    font-size: xx-large;
}

#page_header_text_div {
    margin: auto;
}

#login_register_links {
    margin: auto;
    font-size: larger;
}

.center_div_1 {
    margin: 0 auto;
    width: 1000px;
}

#index_body_text_header {
    font-size: x-large;
}

p {
    font-size: larger;
}

footer {
    height: 100px;
    background-color: #0C0032;
}

#nav_div {
    background-color: #0C0032;
    height: 40px;
    display: grid;
    grid-auto-flow: column;
    color: white;
}

#footer_div {
    padding: 35px 15px 5px;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
}

#copyright_footer {
    margin: auto;
}

#contact_us_link {
    margin: auto;
}

#cubicle_shop_link {
    margin: auto;
}

.connections_list_header {
    font-size: x-large;
}

li {
    font-size: larger;
}

.connection_info_element {
    font-size: larger;
}

.connection_info_label {
    font-size: larger;
    font-weight: bold;
}

#connection_image {
    height: 200px;
    width: 200px;
}

#connection_body_header {
    font-size: x-large;
}

table {
    border-collapse: separate;
    border-spacing: 50px 0;
}

td {
    padding: 10px 0;
}

#connection_description_label {
    font-size: x-large;
}

.connection_change_button {
    background-color: #0C0032;
    height: 50px;
    width: 100px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

#create_connection_button {
    background-color: #0C0032;
    height: 50px;
    width: 200px;
    color: white;
}

#connection_change_button_div {
    text-align: center;
}

#nav_bar {
    font-size: x-large;
}

#connections_page_nav_link {
    margin: auto;
}

#new_connection_form {
    text-align: center;
}

input[type=text],
select,
textarea,
input[type=date],
input[type=time] {
    padding: 12px;
    width: 100%;
}

label {
    padding: 12px 12px 12px 0;
}

#new_connection_body_section {
    font-size: larger;
}