html {
    background-color: #282828;
    color: white;
}

#brandImg {
    width: 150px;
    height: 150px;
    margin: auto;
}

.header_div {
    height: 150px;
    padding: 35px 15px 5px;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    background-color: #0C0032;
}

#line_under_header {
    border-bottom: 1px solid #3500D3;
    margin: auto;
    width: 1200px;
    padding-top: 10px;
}

#page_header_text {
    font-size: xx-large;
}

#page_header_text_div {
    margin: auto;
}

#login_register_links {
    margin: auto;
    font-size: larger;
}

.center_div_1 {
    margin: 0 auto;
    width: 1000px;
}

#index_body_text_header {
    font-size: x-large;
}

p {
    font-size: larger;
}

footer {
    height: 100px;
    background-color: #0C0032;
}

#footer_div {
    padding: 35px 15px 5px;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
}

#copyright_footer {
    margin: auto;
}

#contact_us_link {
    margin: auto;
}

#cubicle_shop_link {
    margin: auto;
}