<%- include('./partials/header.ejs') %>
    <main>
        <!--body section for index page-->
        <section id="index_main_body_text_section">
            <div class="center_div_1">
                <br><br>
                <h3 id="index_body_text_header">About Us</h3><br>
                <div id="index_body_text_div">
                    <p>The charlotte cubing club is home to every level of cuber looking to socialize, and improve their skills with the help or company of others.</p>
                    <p>What is cubing you ask? Cubing is a hobby that is only lately gaining popularity, where people learn to solve cube puzzles, one example of this being the well known "rubiks cube", which is a 3x3 cube puzzle.</p>
                    <p>An entire competative environment has been build around speedcubing, where contestants compete to see who can solve various puzzles the fastest.</p>
                    <p>Here at Charlotte Cubers Club, we allow our members to host events of all kinds for all of the cubers in or around the charlotte area. Whether you are a collector, a competative speedsolver, a beginner, or even just someone interested
                        in learning about cubing or getting started, we welcome you to join our club and meet like minded people accross the city.</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>