<%- include('./partials/header.ejs') %>
    <main>
        <!--body section for index page-->
        <section id="index_main_body_text_section">
            <div class="center_div_1">
                <br><br>
                <h3 id="index_body_text_header">Welcome to the Charlotte Cubing Club Website!</h3><br>
                <div id="index_body_text_div">
                    <p>You can use the following information to contact us with any inquiries about Charlotte Cubers Club that you may have!</p>
                    <br>
                    <p>Phone Number: 704-431-7573</p>
                    <p>Email: CltCubers@gmail.com</p>
                    <br>
                    <p>We don't have a building, so there is no address yet, but there will be soon!</p>
                    <br><br>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>