<%- include('../partials/header.ejs') %>
    <main>
        <section id="new_connection_body_section">
            <br><br>
            <div class="center_div_1">
                <!--Create new connection form-->
                <form id="new_connection_form" action="connections.html">
                    <label for="connection_name">Connection Name:</label>
                    <input type="text" id="connection_name" name="connection_name"><br><br><br>
                    <label for="connection_catagory">Catagory:</label>
                    <select id="connection_catagory" name="connection_catagory">
                    <option value = "Learning/Practice">Learning/Practice</option>
                    <option value = "Competitions">Competitions</option>
                    <option value = "Social Gatherings">Social Gatherings</option>
                </select><br><br><br>
                    <label for="connection_date">Date:</label>
                    <input type="date" id="connection_date" name="connection_date"><br><br><br>
                    <label for="connection_start_time">Start Time:</label>
                    <input type="time" id="connection_start_time" name="connection_start_time"><br><br><br>
                    <label for="connection_end_time">End Time:</label>
                    <input type="time" id="connection_end_time" name="connection_end_time"><br><br><br>
                    <label for="connection_location">Location:</label>
                    <input type="text" id="connection_location" name="connection_location">
                    <br><br><br>
                    <label for="connection_description">Description:</label>
                    <input type="text" id="connection_description" name="connection_description">
                    <br><br><br><br>
                    <input type="submit" value="Create Connection" id="create_connection_button">
                    <br><br><br>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>